body {
    font-size: 20px;
    line-height: 31px;
    font-family: 'Mukta', sans-serif;
    color: #512500;
    margin: 0;
    background-color: #FAF4ED;
    overflow-x: hidden;
    scroll-behavior: smooth;

}

//section

.section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 0px;
}

.title {
    color: #512500;
    font-family: "larken", sans-serif;
    height: auto;
}

.title--second {
    font-size: 40px;
    margin-left: 20px;
    height: auto;
}

//DESKTOP

@media screen and (min-width: 768px) {

    body {
        font-size: 22px;
        min-width: 55ch;
        line-height: 31px;
    }

    //section desktop
    .section {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-column-gap: 22px;
    }

    .btn--up {
        position: fixed;
        z-index: 3;
        height: 80px;
        width: 60px;
        bottom: 0;
        right: 0;
        background-image: url(../assets/images/prev_btn.svg);
        background-size: 70px 50px;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: #DBBEA1;
        border: none;
        border-radius: 35% 50% 15%;
        display: none;

    }

}